@use 'abstracts/variables' as *;
@use 'abstracts/mixins';
@use 'tokens/color';
@use 'tokens/typography';
@use 'tokens/spacing';
@use 'tokens/layout';
@use 'base/reset';
@use 'base/base';
@use 'common/button';
@use 'common/form';
@use 'common/modal';
@use 'common/toast';
@use 'common/tab';
@use 'common/accordion';
@use 'common/pagination';
@use 'common/breadcrumb';
@use 'common/image';
@use 'common/skeleton';
@use 'common/empty';
@use 'ecommerce/product-card';
@use 'ecommerce/price';
@use 'ecommerce/stepper';

body {
  width: var(--layout-content-mo);
}

@media (min-width: ($mo-content-max + 1px)) and (max-width: $bp-mo-max) {
  body {
    max-width: var(--layout-content-mo-max);
    margin-inline: auto;
  }
}
